.container {
    display: grid;
    justify-items: center;
    align-content: center;
    color: #0f171e;
    font-family: "system-ui",Sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Mono",Sans-serif;
}

.content {
    width: min(95%,1024px);
    display: grid;
    justify-items: center;
    align-content: center;
}
  
.instructions {
    color: #D5C927;
}

.react-p5-wrapper canvas {
    width: min(100%, 400px) !important;
    height: min(100%, 400px) !important;
}